<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo.css' %}" />
    <title>Document</title>
</head>
<body>
        <div class="anch">
                <div class="box1">
                        <img id="logo" src="{% static 'images/logo.png' %}" alt="">
                </div>
            
                <div class="box2">
                        <nav class="menu">
                                <ul>
                                    <li class="l"><a href="{% url 'formulario' %}">Inicio</a></li>
                                    <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                    <li class="l"><a href="{% url 'servicio' %}">Servicios</a></li>  
                                    <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                </ul>
                        </nav>
                </div>
            </div>
            
    <h1 text-align="center">Lista Usuario</h1>
    <br>
    {% for alguien in lista %}
    <div>
        <p text-align="center">{{alguien.nombre}}</p>
        <br>
    </div>
    {% endfor %}

    <a href="{% url 'reg_new' %}">Volver</a>
</body>
</html>