<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title> MIS PERRIS</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'js/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'js/slick/slick-theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
        <script src="{% static 'js/jquery-latest.js' %}"></script>
        <script src="{% static 'js/slick/slick.min.js' %}"></script>
    </head>
    <body>
        <div class="container1">
            <div class="anch">
                <div class="box1">
                        <img id="logo" src="{% static 'images/logo.png' %}" alt="">
                </div>
            
                <div class="box2">
                        <nav class="menu">
                                <ul>
                                    <li class="l"><a href="{% url 'formulario' %}">Inicio</a></li>
                                    {% if not user.is_active %}
                                    <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                    {% endif %}
                                    <li class="l"><a href="{% url 'servicio' %}">Servicios</a></li>
                                    {% if user.is_active %}
                                        <li class="l"><a href="">{{user.username}}</a></li>
                                    {% else %}
                                        <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                    {% endif %}
                                </ul>
                        </nav>
                </div>
            </div>
                <div class="slick">
                    <div class="slide slide1">
                        <img class="carr" src="{% static 'images/adoptados/Apolo.jpg' %}" alt="">
                        <div id= "t">
                                <h6>
                                "Estamos felices
                                <br>
                                de tener a Apolo en
                                <br>
                                casa. Es un super
                                <br>
                                fiel compañero"
                                </h6>
                        </div>
                    </div>
                    <div class="slide slide2">
                        <img class="carr"  src="{% static 'images/adoptados/Tom.jpg' %}" alt="">
                        <div id= "t1">
                            <h6>
                            "Estamos felices
                            <br>
                            de tener a Tom en
                            <br>
                            casa. Es un super
                            <br>
                            fiel compañero"
                            </h6>
                        </div>
                    </div>
                    <div class="slide slide3">
                        <img class="carr" src="{% static 'images/adoptados/Duque.jpg' %}"  alt="">
                        <div id= "t2">
                            <h6>
                                "Estamos felices
                                <br>
                                de tener a Duque en
                                <br>
                                casa. Es un super
                                <br>
                                fiel compañero"
                                </h6>
                        </div>
                    </div>
                </div>
                <script>
                    $(".slick").slick({
                        dots: true,
                        fade: true,
                        arrows: true,
                        autoplay: true 
                    }    
                    ) ;
                </script>
                <div class="sub">
                <div id="ws"> +56998765431</div>
                <div id="tit"> Rescate y adopción de perritos callejeros </div>
                <div class="redes">
                    <img src="{% static 'images/fb.png' %}" alt="">
                    <img src="{% static 'images/google.png' %}" alt="">
                    <img src="{% static 'images/insta.png' %}" alt="">
                    <img src="{% static 'images/mail.png' %}" alt="">

                </div>
                </div>
                
            </div>
            <div class="container2">
                <div class="articulo1">
                        <h4>RESCATE</h4>
                        <H6>ETAPA UNO</H6>
                        <h6>_______</H6>
                        <br>
                        <p>Rescatamos perritos en situación de peligro y/o abandono. Los rehabilitamos y los</p>
                        <p>preparamos para buscarles un hogar.</p>
                        <br>
                        <img src="{% static 'images/rescate.jpg' %}" alt="">
                </div>
                <div class="articulo2">
                        <img src="{% static 'images/crowfunding.jpg' %}" alt="">
                        <h4>CROWDFUNDING</h4>
                        <h6>FINANCIAMIENTO</h6>
                        <h6>_______</h6>
                        <br>
                        <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y</p>
                        <p>actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
                        <br>
                        <input type="button" value="CAMPAÑAS">
                </div>
            </div>
            <div class="galeria">
                <a href="{% static 'images/rescatados/Oso.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Oso, soy un perrito de baja estatura muy jugueton y regalon.">
                    <img src="{% static 'images/rescatados/Oso_tn.jpg' %}" alt=""></a>
                <a href="{% static 'images/rescatados/Maya.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Maya, soy una cachorrita de color cafe, de pelaje liso, llena de energia y cariñosa.">
                    <img src="{% static 'images/rescatados/Maya_tn.jpg' %}" alt=""></a>
                <a href="{% static 'images/rescatados/Wifi.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Wifi, soy un perro pequeño, dormilon y muy regalon.">
                    <img src="{% static 'images/rescatados/Wifi_tn.jpg' %}" alt=""></a>
                <a href="{% static 'images/rescatados/Chocolate.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Chocolate, soy un perro grande de pelaje liso muy bueno para correr y jugar.">
                    <img src="{% static 'images/rescatados/Chocolate_tn.jpg' %}" alt=""></a>
                <a href="{% static 'images/rescatados/Pexel.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Pexel, soy un perrito pequeño de pelaje mediano muy regalon y jugueton.">
                    <img src="{% static 'images/rescatados/Pexel_tn.jpg' %}" alt=""></a>
                <a href="{% static 'images/rescatados/Bigotes.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Bigotes, soy un perro adulto de pelaje mediano, soy muy jugueton y me gusta salir a pasear.">
                    <img src="{% static 'images/rescatados/Bigotes_tn.jpg' %}" alt=""></a>
                <a href="{% static 'images/rescatados/Luna.jpg' %}" data-lightbox="mygallery" data-title="Mi nombre es Luna, soy una cachorrita de pelaje oscuro y corto, soy muy regalona y me gusta estar en casa.">
                    <img src="{% static 'images/rescatados/Luna_tn.jpg' %}" alt=""></a>
                <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
            </div>
           <div class="pie">
               <footer>
                   <h5>Desarrollo Web y Mobile</h5>
                {% if user.is_active %}
                    <form action="{% url 'accounts:logout' %}" method="post"> {% csrf_token %}
                        <button type="submit" id="logout">Cerrar Sesión</button>
                    </form>  
                   <h5 id="cone">Conectado como {{user.username}}</h5>
                {% endif %}
               </footer>
           </div>
    </body>
</html>