<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <div class="anch">
            <div class="box1">
                    <img id="logo" src="{% static 'images/logo.png' %}" alt="">
            </div>
        
            <div class="box2">
                    <nav class="menu">
                            <ul>
                                <li class="l"><a href="{% url 'formulario' %}">Inicio</a></li>
                                {% if not user.is_active %}
                                    <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                {% endif %}
                                <li class="l"><a href="{% url 'servicio' %}">Servicios</a></li>  
                                {% if user.is_active %}
                                <li class="l"><a href="">{{user.username}}</a></li>
                                {% else %}
                                <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                {% endif %}
                            </ul>
                    </nav>
            </div>
        </div>
        
        <div class="borde">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <br>
                <br>
                <div class="left"> Subir fotografia: </div><br> <div class="right"><input type="File" name="fotografia" accept="image/png, .jpeg, .jpg, image/gif"></div> 
                <br>
                <br>
                <div class="left"> Nombre: </div><br> <div class="right"><input type="text" name="nombre" required minlength="1" maxlength="40" value="{{ mascota.nombre }}"></div> 
                <br>
                <br>
                <div class="left"> Raza: </div><br> <div class="right"><input type="text" name="razaPredominante" required minlength="1" maxlength="40" value="{{ mascota.razaPredominante }}"></div>
                <br>
                <br>
                <div class="left"> Descripción: </div><br> <div class="right"><textarea name="descripcion" cols="40" rows="5" required>{{ mascota.descripcion}}</textarea></div>
                <br>
                <br>
                <div class="left"> Estado: </div> <div class="right"><br><select id="estado" name="estado" required>
                        <option>Rescatado</option>
                        <option>Disponible</option>
                        <option>Adoptado</option>
                      </select></div><br/>
                <br/>
               <button type="submit">Guardar</button>    
                
                {% if mascota %}
                    <br>
                    <br>
                    <a href="{% url 'delete_mascota' mascota.id %}">Eliminar</a>
                                  
                {% endif %}

                <br>
                <br>
                <a href="{% url 'masclist' %}">Volver atras</a>

            </form>

            
        </div>
</body>
</html>