<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo2.css' %}" />
    <title>Document</title>
</head>
<body>
        <div class="anch">
                <div class="box1">
                        <img id="logo" src="{% static 'images/logo.png' %}" alt="">
                </div>
            
                <div class="box2">
                        <nav class="menu">
                                <ul>
                                    <li class="l"><a href="{% url 'formulario' %}">Inicio</a></li>
                                    {% if not user.is_active %}
                                    <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                                    {% endif %}
                                    <li class="l"><a href="{% url 'servicio' %}">Servicios</a></li>  
                                    {% if user.is_active %}
                                    <li class="l"><a href="">{{user.username}}</a></li>
                                    {% else %}
                                    <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                                    {% endif %}
                                </ul>
                        </nav>
                </div>
            </div>
    <div class="borde">
        <h1>Servicios</h1>
        {% for perro in listam %}
        <div>
                <a href="{% url 'update_mascota' perro.id %}">
                        <img src="{{ perro.fotografia.url }}" alt="">
                        <br> 
                        <h4>Nombre: {{perro.nombre}}</h4>
                        <h4>Raza predominante: {{perro.razaPredominante}}</h4>
                        <h4> Descripcion: {{perro.descripcion}}</h4>
                        <h4>Estado: {{perro.estado}}</h4>
                </a>   
                
                <br>
        </div>
        {% endfor %}

        {% if request.user.is_superuser %}
                <br>
                <a href="{% url 'masclist' %}"><h1>Administrar Mascotas</h1></a>
                <br>
                <br>
                <br>
                <br>
                
        {% else %}
                <br>
                <br>
                <a href="{% url 'disponibles' %}"><h1>Adoptar</h1></a>
                <br>
                <br>
                <br>
                <br>
        {% endif %}
       
    </div>
    <div class="pie">
            <footer>
             {% if user.is_active %}
                 <form method="POST" action="{% url 'accounts:logout' %}">
                     {% csrf_token %}
                     <h5>Conectado Como {{user.username}}</h5>
                     <br>
                     <button type="submit" >Cerrar Sesión</button>
                     
                     
                 </form>
             {% endif %}
            </footer>
    </div>
    

   
</body>
</html>