*{
    margin: 0px;
    padding: 0px;
    box-shadow: border-box;
    font-family: Arial;
}
body{
    background-color: rgb(98,218,185);
}
.anch {
    background-color: rgb(98,218,185);
}
#logo {
    display: block;
    margin: auto;
    width: 260px;
    padding: 10px;
}
.menu {
    text-align: center;   
}
.l{
    background-color: rgb(51,211,173);
    list-style: none;
    padding: 10px;
    margin: 1px;
}
.l a{
    text-decoration: none;
    color: white;
}

@media (min-width: 1024px) {
    body{
        background-color: rgb(51,211,173);
    }
    .anch{
        width: auto;
        height: 76px;
        display: flex;
        background-color:  rgb(98,218,185);
    }
    #logo{
        width: 310px;
        height: 75px;
        float: left;
        padding-top: 10px;
        box-sizing: border-box;
        margin-right: 180px;
        background-color:  rgb(98,218,185);
    }
    .menu{
        width: auto;
        height: auto;
        float: left;
        padding-top: 24px;
        box-sizing: border-box;
        background-color:  rgb(98,218,185);        
    }
    .l {
        display: inline;
        background-color:  rgb(98,218,185);
    }
    .l a{
        color: rgb(250,250,250);
        font-size: 21px;
        text-decoration: none;
        text-align: left;
        font-family: Arial;
    }
    }