
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;

}
.container1 {
    background-color: rgb(98,218,185);
}
#logo {
    display: block;
    margin: auto;
    width: 260px;
    padding: 10px;
}
.menu {
    text-align: center;   
}
.l{
    background-color: rgb(51,211,173);
    list-style: none;
    padding: 10px;
    margin: 1px;
}

.l a{
    text-decoration: none;
    color: white;
}

.redes {
    text-align: center;
}
.redes img {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
}
.slick {
    width: 100%;
    height: 165px;
}
.slide {
    width: 100%;
    height: 50px;
}
.carr{
    width: 100%;
    height: 165px;
    position: relative; 
}
.slick-dots li button::before{
    font-size: 2px;
}
.slick-prev { 
    margin-left: 40px; 
    z-index: 100;
} 
.slick-next { 
    margin-right: 40px;
}
#t{
    position: absolute;
    top: 100px;
    left: 10px;
    text-align: center;  
}
#t1{
    position: absolute;
    top: 90px;
    left: 15px;
    text-align: center;  
}
#t2{
    position: absolute;
    top: 100px;
    left: 20px;
    text-align: center;
    color: aliceblue;  
}

.articulo1{
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
}
.articulo1 img{
    width: 180px;
    height: 100px;
}
.articulo1 p{
    font-size: 9px;
    color: gray;
}
.articulo1 h6{
    color: gray;
}
.articulo2{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.articulo2 img{
    width: 180px;
    height: 140px;
}
.articulo2 p{
    font-size: 9px;
    color: gray;
}
.articulo2 h6{
    color: gray;
}
.articulo2 input{
    font-size: 10px;
    text-decoration-style: solid;
    padding: 6px;
    font-weight: bold;
    color: #000;
    border-radius: 0px;
    border: 2px solid #000000;
    background-color: white;
}
.pie footer{
 background: gray;
 height: 50px;
}
.pie h5{
    color: rgb(53, 54, 52);
    padding: 3px;
    margin-left: 20px;
}
#ws{
    display: none;
}
#tit{
    display: none;
}
.galeria{
    background-color: rgb(98,218,185);
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}
.galeria img{
    width: 32%;
    display: inline-block;

}
.galeria img:hover{
    filter: grayscale(100);
}
#logout{
    float: right;
    margin-right: 10px;
}

#cone{
    float: right; 
    margin-right: 10px;
}

@media (min-width: 490px){
.slick {
    width: auto;
    height: 250px;
        
        
}
.carr{
        
    height: 250px;
    position: relative; 
}
#t{
    position: absolute;
    top: 140px;
    left: 50px;
    text-align: center;
    font-size: 22px;  
}
#t1{
    position: absolute;
    top: 130px;
    left: 50px;
    text-align: center; 
    font-size: 22px;  
}
#t2{
    position: absolute;
    top: 150px;
    left: 20px;
    text-align: center;
    font-size: 22px;   
}
.articulo1{
    text-align: right;
    margin-right: 40px;
    margin-left: 40px;
}
.articulo1 img{
    width: 220px;
    height: 140px;
}
.articulo1 h4{
    font-size: 25px;
}
.articulo1 h6{
    font-size: 16px;
}
.articulo1 p{
    font-size: 11px;
}
.articulo2{
    margin-top: 20px;
    margin-right:40px;
    margin-left: 40px;
}
.articulo2 img{
    width: 220px;
    height: 180px;
}
.articulo2 h4{
    font-size: 25px;
}
.articulo2 h6{
    font-size: 16px;
}
.articulo2 p{
    font-size: 11px;
}
.articulo2 input{
    font-size: 12px;
}


}
@media (min-width: 768px){
.slick {
        width: auto;
        height: 370px;
            
            
}
.carr{
            
        height: 370px;
        position: relative; 
}
#t{
    position: absolute;
    top: 260px;
    left: 50px;
    text-align: center;
    font-size: 30px;  
}
#t1{
    position: absolute;
    top: 200px;
    left: 100px;
    text-align: center; 
    font-size: 30px;  
}
#t2{
    position: absolute;
    top: 240px;
    left: 30px;
    text-align: center;
    font-size: 30px;   
}
.articulo1{
    text-align: right;
    margin-right: 60px;
    margin-left: 60px;
}
.articulo1 img{
    width: 260px;
    height: 180px;
}
.articulo1 h4{
    font-size: 30px;
}
.articulo1 h6{
    font-size: 20px;
}
.articulo1 p{
    font-size: 14px;
}
.articulo2{
    margin-top: 30px;
    margin-right:60px;
    margin-left: 60px;
}
.articulo2 img{
    width: 260px;
    height: 240px;
}
.articulo2 h4{
    font-size: 30px;
}
.articulo2 h6{
    font-size: 20px;
}
.articulo2 p{
    font-size: 14px;
}
.articulo2 input{
    font-size: 15px;
}
.galeria img{
    display: inline-block;
    width: 25%;
    vertical-align:middle;
    margin: 5px;
}
}

@media (min-width: 1024px) {
    .container1{
        background-color:   rgb(51,211,173);
    }
    .anch{
        width: auto;
        height: 76px;
        display: flex;
        background-color:  rgb(98,218,185);
    }
    #logo{
        width: 310px;
        height: 75px;
        float: left;
        padding-top: 10px;
        box-sizing: border-box;
        margin-right: 180px;
        background-color:  rgb(98,218,185);
    }
    .menu{
        width: auto;
        height: auto;
        float: left;
        padding-top: 24px;
        box-sizing: border-box;
        background-color:  rgb(98,218,185);        
    }
    .l {
        display: inline;
        background-color:  rgb(98,218,185);
    }
    .l a{
        color: rgb(250,250,250);
        font-size: 21px;
        text-decoration: none;
        text-align: left;
        font-family: Arial;
    }
    .slick {
        width: auto;
        height: 450px;
        
        
    }
    .carr{
        
        height: 450px;
        position: relative; 
    }
    #t{
        position: absolute;
        top: 280px;
        left: 90px;
        text-align: center;
        font-size: 40px;  
    }
    #t1{
        position: absolute;
        top: 200px;
        left: 150px;
        text-align: center; 
        font-size: 40px;  
    }
    #t2{
        position: absolute;
        top: 310px;
        left: 50px;
        text-align: center;
        font-size: 40px;   
    }
    .sub{
        display: flex;
    }
    #ws{
        display: flex;
        flex: 1;
        text-align: left;
        margin-left: 30px;
        padding-top: 15px;
        color: rgb(250,250,250);
        font-size: 21px;
    }
    #tit{
        display: flex;
        flex: 1;
        text-align: center;
        align-content: center;
        padding-top: 15px;
        color: rgb(250,250,250);
        font-size: 21px;
    }
    .redes {
        flex: 1;
        text-align: right;
        margin-right: 30px;
        
    }
    .container2{
        display: flex;
        margin-top: 30px;
    }
    .articulo1{
        flex: 1;
        margin-right: 15px;
    }
    .articulo2{
        flex: 1;
        margin-left: 15px;
    }
    .galeria{
        display: inline-block;
        text-align: center;
        width: 100%;
        
    }
    .galeria img{
        display: inline-block;
        width: 12%;
        vertical-align:middle;
        margin: 5px;
    }
    .galeria img:hover{
        filter: grayscale(100);
        transform: scale(1.1)
    }
 }

