<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/estilo2.css' %}" />
    <title>registro</title>
</head>
<body>


<div class="anch">
    <div class="box1">
                <img id="logo" src="{% static 'images/logo.png' %}" alt="">
        </div>
    
        <div class="box2">
                <nav class="menu">
                        <ul>
                            <li class="l"><a href="{% url 'formulario' %}">Inicio</a></li>
                            <li class="l"><a href="{% url 'accounts:signup' %}">Registrarse</a></li>
                            <li class="l"><a href="{% url 'servicio' %}">Servicios</a></li>  
                            <li class="l"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></li>
                        </ul>
                </nav>
        </div>
    </div>

    <div class="borde">
        
            <h1>Registro</h1>
        
            <form method="POST" >{% csrf_token %}
                <!--<div class="left"> Nombre Usuario: </div> <div class="right"><input type="text" name="username" id="userName" required minlength="1"/></div> <br />
                <br />
                <br />

                <div class="left"> Correo electrónico: </div> <div class="right"><input type="email" id="correo" name="email"  required oninput="validarCorreo(this)" placeholder="micorreo@gmail.com"></div>
                <br />
                <br />
        
                <div class="left"> Contraseña: </div> <div class="right"><input type="password" name="password1"  required minlength="8"/></div> <br />
                <br />
                <br />

                <div class="left"> Contraseña: </div> <div class="right"><input type="password" name="password2" required minlength="8"/></div> <br />
                <br />
                <br />-->

                {{ form }}
                <br>
                <br>
                <input type="submit" value="Signup">     
            </form>
        
        
    </div>
   

</div>
   
</body>
</html>

